<body>
  <div class="container">
    <div class="row formata">
      <div class="col-sm float-left">
        <img class="icons" src="../../../assets/img/sp.png" alt="atk"><a class="atributos">{{atk}}</a>
        <img class="icons" src="../../../assets/img/int.png" alt="int"><a class="atributos">{{intl}}</a>
        <img class="icons" src="../../../assets/img/vit.png" alt="vit"><a class="atributos">{{vida}}</a>
        <img class="icons" src="../../../assets/img/user.png" alt="ID Player"><a class="atributos">{{idP}}</a>
      </div>
      <div class="col-sm float-right">
        <div class="col-sm float-left">
          <img class="icons" src="../../../assets/img/sp.png" alt="atk"><a class="atributos">{{atkInimigo}}</a>
          <img class="icons" src="../../../assets/img/int.png" alt="int"><a class="atributos">{{intlInimigo}}</a>
          <img class="icons" src="../../../assets/img/vit.png" alt="vit"><a class="atributos">{{vidaInimigo}}</a>
          <img class="icons" src="../../../assets/img/user.png" alt="ID Player"><a class="atributos">{{idPInimigo}}</a>
          <button class="sair" [routerLink]="['/menu']" routerLinkActive="router-link-active">Sair</button>
        </div>
        <img class="ave" src="../../../assets/img/ave.gif" alt="">
        <img class="aves" id="batata" src="../../../assets/img/aves.gif" alt="">
      </div>
    </div>
    <div class="alinhamento">
      <img class="p1" src="../../../assets/img/ch1.png" alt="">
      <img class="p2" src="../../../assets/img/ch2.png" alt="">
    </div>
  </div>
</body>